html,
body {
  margin: 0;
  padding: 0;
  height: 100%,
}

/* TYPOGRAPHY */

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1 {
  margin: 0 0 10px;
}
h2 {
  font-size: 28px;
  margin-top: 0;
}

/* APP SPECIFIC */

.header {
  min-height: 78px;
  width: 100%;
  padding: 5px 0 12px;
  background-color: white;
  position: fixed;
  -webkit-box-shadow: 0px -8px 39px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -8px 39px 8px rgba(0,0,0,0.2);
  box-shadow: 0px -8px 39px 8px rgba(0,0,0,0.2);
}
.legends {
  width: 140px;
  justify-content: space-between;
  margin: 0 auto;
}
.legend {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.legend__color,
.legend__label {
  display: inline-block;
}
.legend__color {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 5px;
}
.legend__label {
  font-size: 12px;
}
.app {
  padding-top: 120px;
}
.countries {
  max-width: 1400px;
  padding: 0 20px;
}
.country {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #efefef;
}
.stats {
  justify-content: space-evenly;
}
.stats {
  margin-bottom: 20px;
}
.stat {
  padding: 5px 10px;
  border-radius: 20%;
  font-size: 20px;
  font-weight: 500;
}
.percentages {
  height: 20px;
}
.percentage {}
.stat--cases,
.percentage--cases,
.legend--cases .legend__color {
  background-color: gold;
  color: black;
}
.stat--cures,
.percentage--cures,
.legend--cures .legend__color {
  background-color: green;
  color: white;
}
.stat--deaths,
.percentage--deaths,
.legend--deaths .legend__color {
  background-color: red;
  color: white;
}

/* HELPERS */

.display-flex {
  display: flex;
}
.align-center {
  text-align: center;
}
