.search label {
  position: relative;
  color: black;
  font-size: 16px;
}
.search__label {
  display: block;
  margin-bottom: 8px;
}
.search__input {
  border: 1px solid black;
  padding: 10px 35px;
  font-size: 16px;
  color: black;
  width: 75%;
  line-height: 1.2;
}
.search__icon-search {
  position: absolute;
  left: 10px;
  bottom: 0;
}
.search__icon-close {
  position: absolute;
  right: 10px;
  bottom: 2px;
  cursor: pointer;
}
